<div class="my-3">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group mb-3">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control-file" %>
    </div>
    <div class="form-group mb-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= form.label :content %>
      <%= form.rich_text_area :content, class: "form-control" %>
    </div>
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
