<%= render(PageComponent.new) do |component| %>
  <% component.with(:title) do %>
    <%= image_tag(@post.image, height: 255) if @post.image.attached? %>
    <h1 class="display-4 mt-4"><%= @post.title %></h1>
  <% end %>
  <% component.with(:body) do %>
    <div class="container">
      <p><%= @post.content %></p>
      <%= render(Posts::ButtonGroupComponent.new(post: @post, edit: true, index: true)) %>
    </div>
  <% end %>
<% end %>
